.site-footer {
    background-color: #001f3f; 
    color: #f8f9fa;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
}
.footer-logo-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    padding: 0.75rem;
    border: 6px solid #001f3f;
}

.footer-logo-top img {
    height: 50px;
    width: 50px;
}

.footer-title {
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #ced4da;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}
.footer-info-item {
    display: flex;
    align-items: start;
    margin-bottom: 0.75rem;
    color: #ced4da;
}
.footer-info-item i {
    color: white;
    margin-right: 10px;
    margin-top: 5px; 
    font-size: 1.25rem;
}
.social-icons a {
    color: #ced4da;
    font-size: 1.25rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: white;
}
.footer-divider {
    border-top: 1px solid #003366;
    margin-top: 2rem;
    padding-top: 2rem;
}

.footer-bottom-bar {
    text-align: center;
    color: #adb5bd;
}
