@import 'bootstrap/dist/css/bootstrap.min.css';

@import './components/_navbar.css';
@import './components/_homepage_content.css';
@import './components/_article.css';
@import './components/_kontak.css';
@import './components/_timeline.css';
@import './components/_footer.css';
