<<<<<<< HEAD
@import 'bootstrap/dist/css/bootstrap.min.css';

@import './components/_navbar.css';
@import './components/_homepage_content.css';
@import './components/_article.css';
@import './components/_kontak.css';
@import './components/_timeline.css';
@import './components/_footer.css';
=======
/* resources/css/app.css */

/* 1. Import Framework */
@import "bootstrap/dist/css/bootstrap.min.css";

/* 2. Import Komponen */
@import "./components/_navbar.css";
@import "./components/_homepage_content.css";
@import "./components/_article.css";
@import "./components/_kontak.css";

/* 3. Import Tailwind CSS */
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
>>>>>>> 8d085e8706c5fac73c93a1b8cc04713248eb8a67
